@import url(https://fonts.googleapis.com/css?family=Roboto);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.post {
  margin: 30px 10px;
}

.post .title small,
.post .title h3 {
  display: inline-block;
}

.post .title h3 {
  margin: 30px 20px 30px 0px;
}

.post .title h3 a {
  color: black;
}

.post .title small {
  color: lightgrey;
}

