* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  margin: 30px 10px;
}

.post .title small,
.post .title h3 {
  display: inline-block;
}

.post .title h3 {
  margin: 30px 20px 30px 0px;
}

