@import 'sass/common.scss';

.post {
  margin: 30px 10px;
  .title {
    small, h3 {
      display: inline-block;
    }
    h3 {
      margin: 30px 20px 30px 0px;
      a {
        color: black;
      }
    }
    small {
      color: lightgrey;
    }
  }
}
